.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--text-primary);
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-primary);
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    outline: 2px solid var(--text-primary);
    transform: scale(1);
}

    .back-to-top:hover {
        transform: scale(1.1); /* Увеличение при наведении */
        background-color: rgba(0, 0, 0, 0.1); /* Легкий фон при наведении */
    }

    .back-to-top:active{
        transform: scale(0.9);
    }

    .back-to-top.active {
        opacity: 1;
        visibility: visible;
    }

    .back-to-top svg {
        width: 24px;
        height: 24px;
        transition: transform 0.2s ease;
    }
    .back-to-top:active svg {
        transform: scale(0.8); /* Дополнительная анимация иконки */
    }
