/* Базовые стили */
:root {
    --bg-light: #ffffff;
    --text-light: #121212;
    --bg-dark: #121212;
    --text-dark: rgb(0, 255, 255);
    --accent: rgb(255, 106, 0, 0.3);
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Контейнеры */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

/* Автоматическое определение темы */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: var(--bg-dark);
        --text-primary: var(--text-dark);
        --shadow-primary: var(--shadow-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-primary: var(--bg-light);
        --text-primary: var(--text-light);
        --shadow-primary: var(--shadow-light);
    }
}