/* Базовые стили */
:root {
    --bg: #ffffff;
    --text: #121212;
    --accent: rgb(255, 106, 0, 0.3);
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Контейнеры */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}