/* Футер */
.footer {
    padding: 50px 0;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .footer {
        background: #00000068;
    }
}

@media (prefers-color-scheme: light) {
    .footer {
        background: #e8e8e8;
    }
}