/* Шапка */
.header {
    position: fixed;
    width: 100%;
    outline: 2px solid;
    background: var(--bg-primary);
    color: var(--text-primary);
    z-index: 1000;
    padding: 10px 0;
    transition: transform 0.3s ease-in-out;
}
    .header.hide {
        transform: translateY(-110%);
    }

    .header.show {
        transform: translateY(0);
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        gap: 8px;
    }
    .phone-number {
        display: block; /* Виден на десктопе */
        font-weight: 500;
    }
    .phone-icon {
        display: none; /* По умолчанию скрыта */
        font-size: 20px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        transition: all 0.3s ease;
        color: var(--text-primary);
    }
    .phone-icon:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    .contact-icon {
        display: flex;
        font-size: 30px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        transition: all 0.3s ease;
        color: var(--text-primary);
    }
    .contact-icon:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    nav{
        display: flex;
        width: 100%;
        margin-left: 20px;
        gap: 30px;
    }
    nav a {
        text-decoration: none;
        color: var(--text-primary);
        font-weight: 500;
        transform: scale(1);
        transition: color 0.3s, transform 0.3s ease;
    }
    nav a:hover {
        transform: scale(1.1);
    }

/* Адаптация шапки для мобильных */
@media (max-width: 1201px) {
    .phone-number {
        display: none;
    }

    .phone-icon {
        display: flex;
    }
}