/* Карусель */
.works {
    padding: 80px 0;
    overflow: hidden;
}

.work-card {
    text-decoration: none;
    color: var(--text-primary);
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

    .work-card img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }